[Desktop Entry]
Name=RQt Image View
GenericName=RQt Image Viewer
Comment=Image Viewer for ROS

Icon=ros-rqt

Exec=/bin/bash -i -c "/opt/ros/hydro/lib/rqt_image_view/rqt_image_view"
Terminal=false

Categories=Development;Science;Education;
X-Ubuntu-Category-Secondary=Robotics;
StartupNotify=true
Type=Application
Version=1.0
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
