[Desktop Entry]
Name=RQt Graph
GenericName=RQt Graph Viewer
Comment=Computational Graph Viewer for ROS

Icon=ros-rqt

Exec=/bin/bash -i -c "/opt/ros/hydro/lib/rqt_graph/rqt_graph"
Terminal=false

Categories=Development;Science;Education;
X-Ubuntu-Category-Secondary=Robotics;
StartupNotify=true
Type=Application
Version=1.0
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
