[Desktop Entry]
Name=RQt Console
GenericName=RQt Graphical Console
Comment=Console Log Viewer for ROS

Icon=ros-rqt

Exec=/bin/bash -i -c "/opt/ros/hydro/lib/rqt_console/rqt_console"
Terminal=false

Categories=Development;Science;Education;
X-Ubuntu-Category-Secondary=Robotics;
StartupNotify=true
Type=Application
Version=1.0
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
