[Desktop Entry]
Name=RQt Launch
GenericName=RQt Launch Tool
Comment=Launch Management Tool for ROS

Icon=ros-rqt

Exec=/bin/bash -i -c "/opt/ros/hydro/lib/rqt_launch/rqt_launch"
Terminal=false

Categories=Development;Science;Education;
X-Ubuntu-Category-Secondary=Robotics;
StartupNotify=true
Type=Application
Version=1.0
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
