[Desktop Entry]
Name=RQt Top
GenericName=RQt Top
Comment=Resource Utlization Tool for ROS

Icon=ros-rqt

Exec=/bin/bash -i -c "/opt/ros/hydro/lib/rqt_top/rqt_top"
Terminal=false

Categories=Development;Science;Education;
X-Ubuntu-Category-Secondary=Robotics;
StartupNotify=true
Type=Application
Version=1.0
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
