[Desktop Entry]
Name=RQt Console
GenericName=RQt Graphical Console
Comment=Console Log Viewer for ROS

Icon=ros-rqt
Icon=/usr/share/icons/hicolor/scalable/apps/ros-rqt.svg

Exec=/bin/bash -i -c "rosrun rqt_console rqt_console"
Terminal=false

Categories=Development;Science;Education;
X-Ubuntu-Category-Secondary=Robotics;
StartupNotify=true
Type=Application
Version=1.0
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
