[Desktop Entry]
Name=roslaunch
GenericName=ROS Launch
Comment=Provides the required nodes for running ROS

Icon=ros-tool
Icon=/usr/share/icons/hicolor/scalable/apps/ros-tool.svg

Keywords=Science;Education;Robotics;Robot;
Exec=/bin/bash -i -c "roslaunch %u"
Terminal=true
MimeType=application/x-ros-launch;

Categories=Development;Science;Education;
X-Ubuntu-Category-Secondary=Robotics;
StartupNotify=true
Type=Application
Version=1.0
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
